<style>
    .form-group {
        position: relative;
        
    }

    .suggestions {
        width: 400px;
        position: absolute;
        display: none;
        z-index: 100;
        background-color: white;
        border: 1px solid #eeeeee;
    };


</style>

<div class="search-input">  
    <div class="form-group mb-0">
        <input type="text" class="form-control" id="input-text" placeholder="Search...">
    </div>
    <div class="suggestions shadow-sm rounded py-2 px-0" id="sugg-container"></div>
</div>    


